<section>
    <div class="container-lg">
      <div class="line">
        <div class="cell-12 text-center">
            <h4>CLIENTES</h4>
            <h2>Han confiado en nosotros</h2>
        </div>
      </div>
  
      <div class="divider"></div>
  
      <div class="line">
        <div class="cell-3">
          <div class="images">
              <img src="assets/logo-chilito.png" alt="" class="img-responsive">
          </div>
        </div>
        <div class="cell-3">
          <div class="images">
              <img src="assets/logo-viveros.png" alt="" class="img-responsive">
          </div>
        </div>
        <div class="cell-3">
          <div class="images">
              <img src="assets/logo-nopuedopagar.png" alt="" class="img-responsive">
          </div>
        </div>
        <div class="cell-3">
            <div class="images">
                <img src="assets/logo-escriturasenlinea.jpg" alt="" class="img-responsive">
            </div>
          </div>
      </div>
    </div>
  </section>