<footer>
    <div class="container-lg">
        <div class="line">
            <div class="cell-12">
                <div class="line">
                    <div class="cell-6 pdLogo">
                        <h2 class="logo">Vala<span>Digital</span></h2>
                    </div>
                    <div class="cell-6 pdLogo">
                        <ul class="rrss text-right">
                            <li>
                                <a href="https://www.facebook.com/Valadigital-1118724568279215" target="_blank"><i class="fa fa-facebook-official"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/valadigital" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/valadigital" target="_blank"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="https://wa.me/56984923553" target="_blank"><i class="fa fa-whatsapp"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/valadigital" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="linea"></div>
    <div class="container-lg">
        <div class="line">
            <div class="cell-4">
                <ul>
                    <li><h2>#VALADIGITAL</h2></li>
                    <li>Una agencia formada por personas que pensamos en Digital unidas con un solo fin: transmitir el mensaje que tu marca quiere dar a conocer.</li>
                </ul>
            </div>
            <div class="cell-4">
                <ul>
                    <li><h2>CONTÁCTENOS</h2></li>
                    <li>
                        <td><i class="fa fa-send"></i> </td>
                        <td>hola@valadigital.cl</td>
                    </li>
                    <li>
                        <td><i class="fa fa-phone"></i> </td>
                        <td>+56 9 8492 3552</td>
                    </li>
                </ul>
            </div>
            <div class="cell-4">
                <ul>
                    <li><h2>Newsletter</h2></li>
                    <li>Suscribete a nuestro Newsletter</li>
                    <li><input type="text" placeholder="Correo Eléctronico"></li>
                    <li><button class="btn btn-primary">Suscribir</button></li>
                </ul>
            </div>
        </div>
    </div>
</footer>