<section id="portfolio">
  <div class="container-lg">
    <div class="line">
      <div class="cell-12 text-center">
          <h4>PORTAFOLIO</h4>
          <h2>Algunos de nuestros trabajos</h2>
          <!--p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout but also</p-->
      </div>
    </div>

    <div class="divider"></div>

    <div class="line">
      <div class="cell-4">
        <div class="images">
            <figure class="snip1321"><img src="assets/chilito.png" alt=""/>
              <figcaption><i class="ion-upload"></i>                
                <h2>CHILITO</h2>
              </figcaption><a href="http://www.chilito.cl" target="_blank"></a>
            </figure>
        </div>
      </div>
      <div class="cell-4">
        <div class="images">
            <figure class="snip1321"><img src="assets/viveros.png" alt=""/>
              <figcaption><i class="ion-upload"></i>
                <h2>Viveros Copequen</h2>
              </figcaption><a href="http://www.viveroscopequen.cl/" target="_blank"></a>
            </figure>
        </div>
      </div>
      <div class="cell-4">
        <div class="images">
            <figure class="snip1321"><img src="assets/nopuedopagar.png" alt=""/>
              <figcaption><i class="ion-upload"></i>
                <h2>No Puedo Pagar</h2>
              </figcaption><a href="http://www.nopuedopagar.cl/" target="_blank"></a>
            </figure>
        </div>
      </div>
    </div>
  </div>
</section>