<nav>
  <div class="container-lg">
    <div class="line">
      <div class="cell-3">
        <a scrollTo href="#init"><h2 class="logo">Vala<span>Digital</span></h2></a>
      </div>
      <div class="cell-9 text-right">
        <div class="grid-button">
            <span class="grid open"></span>
        </div>
        <ul class="list">
          <li><a scrollTo href="#service">Servicios</a></li>
          <li><a scrollTo href="#abouts">Como trabajamos</a></li>
          <li><a scrollTo href="#portfolio">Portafolios</a></li>
          <li><a scrollTo href="#pricing">Planes</a></li>
          <li><a (click)="open()" class="btn btn-border">Hablemos</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>