<section id="pricing">
    <div class="container-lg">
      <div class="line">
        <div class="cell-12 text-center">
            <h4>PLANES</h4>
            <h2>El mejor plan de precios</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout but also</p>
        </div>
      </div>
  
      <div class="divider"></div>
  
      <div class="line">
        <div class="cell-4">
          <div class="pd">
              <div class="card">
                <h3>Landing Page</h3>
                <p>desde</p>
                <h2>$69.900</h2>
                <a  (click)="open()" class="btn-pricing">Contactar</a>
              </div>
          </div>
        </div>
        <div class="cell-4">
          <div class="pd">
              <div class="card">
                <h3>Diseño Web</h3>
                <p>desde</p>
                <h2>$199.000</h2>
                <a  (click)="open()" class="btn-pricing">Contactar</a>
              </div>
          </div>
        </div>
        <div class="cell-4">
          <div class="pd">
              <div class="card">
                <h3>Desarrollo Móvil</h3>
                <p>desde</p>
                <h2>$399.000</h2>
                <a  (click)="open()" class="btn-pricing">Contactar</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>