<section>
    <div class="container-lg">
        <div class="line">
          <div class="cell-12 text-center">
            <h4>PROPORCIONAMOS</h4>
            <h2>Nuestros servicios</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout but also</p>
          </div>
        </div>

        <div class="divider"></div>
      
        <div class="line">
          <div class="cell-4 ">
            <div class="card">
              <i class="fa fa-code-fork"></i>
              <h3>Landing Page</h3>
              <p>gsdfgdsfgsdfgsdfgsdfgsdfgsdfgsdf</p>
            </div>
          </div>
          <div class="cell-4">
              <div class="card">
                <i class="fa fa-diamond"></i>
                <h3>Diseño Web</h3>
                <p>gsdfgdsfgsdfgsdfgsdfgsdfgsdfgsdf</p>
              </div>
          </div>
          <div class="cell-4">
              <div class="card">
                <!--i class="fa fa-html5"></i-->
                <i class="fa fa-desktop"></i>
                <h3>Desarrollo Web</h3>
                <p>gsdfgdsfgsdfgsdfgsdfgsdfgsdfgsdf</p>
              </div>
            </div>
            <div class="cell-4">
                <div class="card">
                  <i class="fa fa-mobile-phone"></i>
                  <h3>Desarrollo Mobile</h3>
                  <p>gsdfgdsfgsdfgsdfgsdfgsdfgsdfgsdf</p>
                </div>
            </div>
            <div class="cell-4">
                <div class="card">
                  <i class="fa fa-shopping-cart"></i>
                  <h3>Ecommerce</h3>
                  <p>gsdfgdsfgsdfgsdfgsdfgsdfgsdfgsdf</p>
                </div>
            </div>
            <div class="cell-4">
                <div class="card">
                  <i class="fa fa-cubes"></i>
                  <h3>Desarrollo a Medida</h3>
                  <p>gsdfgdsfgsdfgsdfgsdfgsdfgsdfgsdf</p>
                </div>
            </div>
        </div>
      </div>
</section>