<section id="abouts">
  <div class="container-lg">
    <div class="line">
      <div class="cell-12 text-center">
        <h4>PROCESO</h4>
        <h2>Como Trabajamos</h2>
        <p>Cada proyecto es único, por lo que nos tomamos el tiempo de diseñar cada propuesta en base a lo que el cliente busca, evitando el uso de plantillas pre-diseñadas y códigos ya escritos. Nos encanta aportar con un toque personal, con tecnologías innovadoras de la mano de estrictos estándares web.</p>
      </div>
    </div>

    <div class="divider"></div>

    <div class="line">
      <div class="cell-3">
        <div class="card">
          <h5>ANÁLISIS</h5>
          <i class="fa fa-lightbulb-o"></i>
          <h3>Definición del proyecto</h3>
        </div>
      </div>
      <div class="cell-3">
        <div class="card">
          <h5>DISEÑO</h5>
          <i class="fa fa-paint-brush"></i>
          <h3>Diseño de Interfaz</h3>
        </div>
      </div>
      <div class="cell-3">
        <div class="card">
          <h5>DESARROLLO</h5>
          <i class="fa fa-code"></i>
          <h3>Tecnología y código</h3>
        </div>
      </div>
      <div class="cell-3">
        <div class="card">
          <h5>LANZAMIENTO</h5>
          <i class="fa fa-rocket"></i>
          <h3>Testing y entrega</h3>
        </div>
      </div>
    </div>
  </div>
</section>