<section>
  <div class="container-lg">
    <div class="line">
      <div class="cell-6">
        <h2>Diseño y Desarrollo de Aplicaciones Móviles</h2>
        <ul>
          <li>Trabajamos con Metodologías Ágiles.</li>
          <li>Aplicamos las últimas tecnologías nativas para iOS y Android.</li>
          <li>Diseño centrado en el usuario.</li>
          <li>Posicionamos tu aplicación en la Play Store y App Store</li>
        </ul>
      </div>
      <div class="cell-6">
        <img src="assets/galaxy.png" class="img-responsive" alt="">
      </div>
    </div>
  </div>
</section>