<section>
  <div class="container-lg">
    <div class="line">
      <div class="cell-6">
        <h2>We’ve skilled in wide Range of digital market tools.</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker.</p>
      </div>
      <div class="cell-6">
        <img src="assets/galaxy.png" class="img-responsive" alt="">
      </div>
    </div>
  </div>
</section>