<section>
  <div class="container-lg">
    <div class="line">
      <div class="cell-6">
        <h2>Diseño y Desarrollo de Aplicaciones Móviles</h2>
        <!--p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker.</p-->

        <ul>
          <li>Trabajamos con Metodologías Ágiles.</li>
          <li>Aplicamos las últimastecnologías nativaspara iOS y Android.</li>
          <li>Diseñocentrado en el usuario.</li>
          <li>Posicionamos tu aplicación enen la Play Store y App Store</li>
        </ul>
      </div>
      <div class="cell-6">
        <img src="assets/galaxy.png" class="img-responsive" alt="">
      </div>
    </div>
  </div>
</section>